<section id="header-container">
    <div class="lien">
        <h5>THOMAS MANIOC</h5>
        <ul class="listeLien">
            <a routerLink="/home">
                <li>Accueil</li>
            </a>
            <a routerLink="/about">
                <li>A propos de moi</li>
            </a>
            <a routerLink="/actualites">
                <li>Actualités</li>
            </a>
            <a routerLink="">
                <li>Contactez-moi</li>
            </a>
            <a class="link" routerLink="">
                <li>
                    <div>
                        <img src="./ImagesPortfolio/SocialMedia/linkedin.png" alt="">
                    </div>
                </li>
            </a>
        </ul>
        <img src="./ImagesPortfolio/Icones/menu.png" alt="" class="icone">
    </div>
</section>