<section id="presentation-container">
    <div id="presentation">
        <img src="./ImagesPortfolio/ImagesFond/img2.png" alt="">
        <div class="social-media">
            <div class="git">
                <img src="./ImagesPortfolio/SocialMedia/github2.png" alt="">
            </div>
            <div>
                <div class="linkedin">
                    <img src="./ImagesPortfolio/SocialMedia/linkedin2.png" alt="">
                </div>
                <div class="mail">
                    <img src="./ImagesPortfolio/SocialMedia/email.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="certifications" class="certification">
        <div class="certif-container">
            <div class="certif cUn">
                <img src="./ImagesPortfolio/ANSSI_Logo.svg.png" alt="">
                <h5 class="nom-certif">Cybersécurité - ANSSI</h5>
            </div>
            <h5 class="pourcentage pUn">100%</h5>
        </div>
        <div class="certif-container">
            <div class="certif cDeux">
                <div class="decoPourcentage decoPourcentageDeux">
                    
                </div>
                <img src="./ImagesPortfolio/Design-Thinking.png" alt="">
                <h5 class="nom-certif">Design Thinking</h5>
            </div>
            <h5 class="pourcentage pDeux">67%</h5>
        </div>
        <div class="certif-container">
            <div class="certif cTrois">
                <div class="decoPourcentage decoPourcentageTrois">
                    
                </div>
                <img src="./ImagesPortfolio/LangagesOutils/csharp.png" alt="">
                <h5 class="nom-certif">Cybersécurité - ANSSI</h5>
            </div>
            <h5 class="pourcentage pTrois">65%</h5>
        </div>
    </div>
    <div id="certificationsDeux" class="certification">
        <div class="certif-container">
            <div class="certif cQuatre">
                <img src="./ImagesPortfolio/LangagesOutils/htmlCss.png" alt="">
                <h5 class="nom-certif">HTML CSS</h5>
            </div>
            <h5 class="pourcentage pQuatre">100%</h5>
        </div>
        <div class="certif-container">
            <div class="certif cCinq">
                <!-- <img src="" alt=""> -->
                <h5 class="nom-certif"></h5>
            </div>
            <h5 class="pourcentage pCinq">0%</h5>
        </div>
        <div class="certif-container">
            <div class="certif cSix">
                <!-- <img src="" alt=""> -->
                <h5 class="nom-certif"></h5>
            </div>
            <h5 class="pourcentage pSix">0%</h5>
        </div>
    </div>
</section>