<div id="banderole">
    <ul class="ulUn">
        <li>Angular</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointViolet.png" alt="">
        </li>
        <li>Html</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointViolet.png" alt="">
        </li>
        <li>Flutter</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointViolet.png" alt="">
        </li>
        <li>CSharp</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointViolet.png" alt="">
        </li>
        <li>Python</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointViolet.png" alt="">
        </li>
        <li>Css</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointViolet.png" alt="">
        </li>
        <li>Firebase</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointViolet.png" alt="">
        </li>
        <li>Figma</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointViolet.png" alt="">
        </li>
    </ul>
</div>
<section id="illustration-phone-container">
    <h2 class="title" >Application Flutter</h2>
    <div>
        <div class="illustration">
            <img src="./ImagesPortfolio/illustrations/bricolPhone.png" alt="">
        </div>
        <div class="texte">
            <h5>BRICOL</h5>
            <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסל אה בתפיל צו, וולופטאט קוויס לורם איפסום דולור סיט אמט, נולום אוקס, רמיפ סולג נסקי. דולור סיט אמט, קונסקטורר אדיפיסינג אלית וולופטאט.</p>
            <div class="button-container">
                <button >GitHub</button>
            </div>
        </div>
    </div>
</section>
<div id="banderole">
    <ul>
        <li>
            <img src="./ImagesPortfolio/Icones/pointVioletBleu.png" alt="">
        </li>
        <li>Python</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointVioletBleu.png" alt="">
        </li>
        <li>Css</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointVioletBleu.png" alt="">
        </li>
        <li>Firebase</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointVioletBleu.png" alt="">
        </li>
        <li>Figma</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointVioletBleu.png" alt="">
        </li>
        <li>Angular</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointVioletBleu.png" alt="">
        </li>
        <li>Html</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointVioletBleu.png" alt="">
        </li>
        <li>Flutter</li>
        <li>
            <img src="./ImagesPortfolio/Icones/pointVioletBleu.png" alt="">
        </li>
        <li>CSharp</li>
    </ul>
</div>