<section id="parcours-container">
    <img class="ligne" src="./ImagesPortfolio/Icones/ligneZigzag.png" alt="">
    <div class="experience expUn">
        <div class="icon">
            <img src="./ImagesPortfolio/Icones/plus2.png" alt="">
        </div>
        <div class="texte">
            <h4 class="title">Développeur Web</h4>
            <p class="etablissement">Association PTC Fighting Club, Guadeloupe</p>
            <p class="dateTime">2024</p>
        </div>
    </div>
    <div class="experience expDeux">
        <div class="icon">
            <img src="./ImagesPortfolio/Icones/plus2.png" alt="">
        </div>
        <div class="texte">
            <h4 class="title">Développeur Angular</h4>
            <p class="etablissement">Mercedes-Benz by SGDM, Guadeloupe</p>
            <p class="dateTime">2024</p>
        </div>
    </div>
    <div class="experience expTrois">
        <div class="icon">
            <img src="./ImagesPortfolio/Icones/plus2.png" alt="">
        </div>
        <div class="texte">
            <h4 class="title">Développeur Web</h4>
            <p class="etablissement">Chambre des Métiers et de l'Artisanat, Guadeloupe</p>
            <p class="dateTime">2023</p>
        </div>
    </div>
    <div class="experience expQuatre">
        <div class="icon">
            <img src="./ImagesPortfolio/Icones/plus2.png" alt="">
        </div>
        <div class="texte">
            <h4 class="title">BTS SIO - Développeur d'Applications</h4>
            <p class="etablissement">Lycée Gé et Techno de Baimbridge, Guadeloupe</p>
            <p class="dateTime">2022</p>
        </div>
    </div>
    <div class="experience expCinq">
        <div class="icon">
            <img src="./ImagesPortfolio/Icones/plus2.png" alt="">
        </div>
        <div class="texte">
            <h4 class="title">Opérateur Machine</h4>
            <p class="etablissement">CAUQUIL SAS, Toulouse</p>
            <p class="dateTime">2020</p>
        </div>
    </div>
    <div class="experience expSix">
        <div class="icon">
            <img src="./ImagesPortfolio/Icones/plus2.png" alt="">
        </div>
        <div class="texte">
            <h4 class="title">BTS CPRP - Opérateur Machine</h4>
            <p class="etablissement">Lycée Gé et Techno Jean Baptiste de Baudre, Agen</p>
            <p class="dateTime">2018</p>
        </div>
    </div>
</section>