<section id="news-container">
    <div id="news">
        <div class="left">
            <div class="box boxUn">
                <img src="./ImagesPortfolio/balance.jpg" alt="">
                <h2>Directive NIS2</h2>
                <button><a href="https://cyber.gouv.fr/la-directive-nis-2">En savoir +</a></button>
            </div>
            <div class="box-medium">
                <a href="https://medium.com/@31carlton7/how-to-structure-your-flutter-projects-3939784d7d04">
                    <div class="boxDeux">
                        <img src="./ImagesPortfolio/mediumNoir.png" alt="">
                        <h5>How to structure your Flutter projects ?</h5>
                        <p>Jun 7, 2024 <br> <span>Carlton AIKINS</span></p>
                    </div>
                </a>
                <a href="">
                    <div class="boxTrois">
                        <img src="./ImagesPortfolio/mediumNoir.png" alt="">
                        <h5>How to structure your Angular projects ?</h5>
                        <!-- <p>Jun 7, 2024 <br> <span>Carlton AIKINS</span></p> -->
                    </div>
                </a>
            </div>
        </div>
        <div class="right">
            <a href="https://www.youtube.com/watch?v=WQBLPYToLME&pp=ygUGbWljb2Rl">
                <div class="boxQuatre">
                    <img class="fond" src="./ImagesPortfolio/micode.png" alt="">
                    <img class="icone" src="./ImagesPortfolio/Icones/flecheYoutubeBlanc.png" alt="">
                    <h5>L'attaque informatique la plus sophistiquée de l'Histoire</h5>
                </div>
            </a>
            <a href="https://medium.com/@jyotimann/designing-your-ux-portfolio-21ecba7ec18">
                <div class="boxCinq">
                    <img class="medium" src="./ImagesPortfolio/mediumBlanc.png" alt="">
                    <h5>Designing your UX portfolio</h5>
                    <p>Jun 31, 2023 <br> <span>Jyoti MANN</span></p>
                </div>
            </a>
            <a href="https://www.youtube.com/watch?v=8LHEwkV7QpY&t=924s&pp=ygUlbWljb2RlIGNvbW1lbnQgZGlzcGFyYWl0cmUgZCdpbnRlcm5ldA%3D%3D">
                <div class="boxSix">
                    <img class="fond" src="./ImagesPortfolio/micode2.png" alt="">
                    <img class="icone" src="./ImagesPortfolio/Icones/flecheYoutubeRouge.png" alt="">
                    <h5>Comment disparaître d’Internet ?</h5>
                </div>
            </a>
        </div>
    </div>
</section>