<section id="footer-container">
    <div class="footer">
        <a class="home" routerLink="/home"><h5>Thomas MANIOC</h5></a>
        <ul>
            <a class="lien" href="https://www.linkedin.com/in/thomas-manioc-6a38031a5"><li>LinkedIn</li></a>
            <a class="lien" href="https://github.com/Oyokii"><li>GitHub</li></a>
            <a class="lien" ><li>Télécharger mon CV</li></a>
        </ul>
        <p>Ce portfolio a été fait par Thomas Manioc</p>
    </div>
</section>
<div id="viewer"></div>