<section id="landing-section">
    <div id="text">
        <h3 class="basic-text bt2">Moi c'est</h3>
        <h1>Thomas Manioc</h1>
        <h3 class="basic-text bt">Et je suis <span class="text-oblique">dévelo<span style="color: #4E4C4C; font-family: Meow Script, cursive;">ppeur.</span></span></h3>
        <h3 class="text-oblique to"> <span style="color: white;  font-family: Meow Script, cursive;">passio</span>nné.</h3>
        <h3 class="text-oblique to" style="color: white;">créatif.</h3>
    </div>
    <div class="decoUn"></div>
    <div class="decoDeux"></div>
    <img class="mockup trokannouDevice" src="./ImagesPortfolio/mockupDevices/mockupTrokAnNou2.png" alt="">
    <img class="mockup bricolDevice" src="./ImagesPortfolio/mockupDevices/mockupBricol2.png" alt="">
    <div id="illustration">
        <img src="./ImagesPortfolio/ImagesFond/img1.png" alt="">
        <div class="socialmedia-list">
            <div class="social-med social-med1">
                <img src="./ImagesPortfolio/SocialMedia/linkedin.png" alt="">
            </div>
            <div class="social-med social-med2">
                <img src="./ImagesPortfolio/SocialMedia/github.png" alt="">
            </div>
            <div class="social-med social-med3">
                <img src="" alt="">
            </div>
        </div>
        <div class="website">
            <img src="./ImagesPortfolio/Icones/internet.png" alt="">
        </div>
    </div>
</section>
<section id="texte-illustration">
    <div id="text">
    <h2>Créer et développer <br> <span style=" font-family: Meow Script, cursive; background: linear-gradient(to right, #DE9CC0, #A259FF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;">une passion</span> d'enfance, <br> toujours prête à <span style=" font-family: Meow Script, cursive; background: linear-gradient(to right, #DE9CC0, #A259FF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;"> s'épanouir</span>.</h2>
        <p><br><br> Vous vous souvenez de Habbo ? Mais oui, ce jeu où, grâce aux wireds, on pouvait concevoir toutes sortes de jeux, comme le loup-garou, le ping-pong ou encore la bataille de guitare. 
            <br> Ah, voilà, ça vous revient ! C’est là que tout a commencé pour moi ; c’est sur ce jeu que j'ai développé ma passion pour la création et le développement de jeux en jouant avec la logique des wireds.
            
            <br><br> Chaque famille de wired avait son propre rôle : les marrons (déclencheurs) pour les inputs, les gris (conditions) pour réagir aux actions des joueurs ou des objets, et les gris à effets, etc...
            Ce n’était pas seulement des jeux que je créais ; c’était aussi une façon d’apprendre à innover et à concrétiser mes idées. C'est exactement cet élan créatif que je souhaite apporter en travaillant à vos côtés.</p>
    </div>
    <div id="illustration">
        <img src="./ImagesPortfolio/mockupDevices/illustrationAbout.png" alt="">
        <div>
            <div class="ombrageUn"></div>
        </div>
    </div>
</section>