<section id="bandeau-container">
    <div class="bandeau">
        <div class="text">
            <h2>NE<span>WS</span></h2>
        </div>
        <div class="fond">
            <img src="./ImagesPortfolio/ImagesFond/img3.png" alt="">
        </div>
    </div>
    <div class="medium">
        <img src="./ImagesPortfolio/mediumBlanc.png" alt="">
    </div>
    <div class="youtube">
        <img src="./ImagesPortfolio/youtube.png" alt="">
    </div>
    <div class="cnil">
        <img src="./ImagesPortfolio/cnil.png" alt="">
    </div>
</section>