<section id="outils-container">
    <img src="./ImagesPortfolio/Icones/cercles.png" alt="">
    <div>
        <h4 class="title">La créativité et la constance : mes valeurs</h4>
        <p>
            <br>Curieux et passionné par le développement, 
            j'utilise des outils comme Angular, C#, et Flutter 
            pour créer mes applications. 
            Toujours à l’affût des dernières tendances, 
            je cherche à repousser les limites de mes compétences. 
            <br><br>
            Mon objectif : transformer des concepts en applications bénéfiques et performantes, en gardant l'utilisateur au centre de mes priorités.</p>
    </div>
    <img src="./ImagesPortfolio/LangagesOutils/firebase.png" alt="" class="firebase">
    <img src="./ImagesPortfolio/LangagesOutils/css.png" alt="" class="css">
    <img src="./ImagesPortfolio/LangagesOutils/entityframework.png" alt="" class="entity">
    <img src="./ImagesPortfolio/LangagesOutils/html.png" alt="" class="html">
    <img src="./ImagesPortfolio/LangagesOutils/sequelize.png" alt="" class="sequelize">
    <img src="./ImagesPortfolio/LangagesOutils/angular.png" alt="" class="angular">
    <img src="./ImagesPortfolio/LangagesOutils/flutter.png" alt="" class="flutter">
    <img src="./ImagesPortfolio/LangagesOutils/csharp.png" alt="" class="csharp">
    <img src="./ImagesPortfolio/LangagesOutils/figma.png" alt="" class="figma">
    <img src="./ImagesPortfolio/SocialMedia/github.png" alt="" class="github">
</section>